*,
:after,
:before {
  box-sizing: border-box;
}

.strikethrough {
  text-decoration: line-through;
}

i {
  padding: 0 6px;
}

div {
  display: block;
}
.AppSidebarProfile {
  width: var(--AppSidebarProfile-max-width);
  padding: 0;
  padding-left: calc(
    var(--app-sidebar-padding) + var(--app-sidebar-profile-gap) +
      var(--app-sidebar-item-avatar-size)
  );
  margin-bottom: var(--app-sidebar-profile-margin);
  color: var(--app-sidebar-em-text-color);
  font-size: inherit;
  -webkit-user-select: none;
  user-select: none;
}
.AppSidebar {
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: var(--app-sidebar-padding);
  display: flex;
  flex-direction: column;
  position: fixed;
  color: var(--app-sidebar-text-color);
  font-size: var(--font-size-base);
  z-index: var(--app-sidebar-z-index);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
  font-weight: var(--font-weight-regular);
  background: none;
  overflow-y: hidden;
}

:root {
  --onboarding-header-height: 80px;
  --onboarding-footer-height: 80px;
  --TabsNavigationButtonsBar__line-height: 2px;
  --TabsNavigationButtonsBar-default-color: var(--color-text-2);
  --TabsNavigationButtonsBar-active-color: var(--color-text-1);
  --CardMultiselectionToolbar__badge--height: calc(
    var(--task-batching-toolbar-height) - var(--gutter) * 2
  );
  --TaskBatchToolbar__badge--height: calc(
    var(--task-batching-toolbar-height) - var(--gutter) * 2
  );
  --TaskList-item-move-speed: var(--animation-speed-fast);
  --TaskListTitle__h__groupSize-size: calc(var(--font-size-text-xsm) * 2);
  --TasksRoute__tasks-top: var(--app-header-height);
  --CalendarDayViewAllDayEventItem-text-size: var(--font-size-text-xsm);
  --CalendarDayViewEventItem-text-size: var(--font-size-text-xsm);
  --CalendarDayViewEventItem-text-sm-size: var(--font-size-text-xsm);
  --CalendarDayViewTaskItem-bg-color: var(--color-1);
  --CalendarDayViewTaskItem-text-size: var(--font-size-text-xsm);
  --CalendarDayViewTaskItem-text-sm-size: var(--font-size-text-xsm);
  --RadioToggleButton-marker-offset: calc(
    var(--radio-button-size) / 2 - var(--radio-button-marker-size) / 2 - 1px
  );
  --FileAttachmentErrorModal-bar-height: 60px;
  --FileAttachment-size: 29px;
  --FileAttachment-padding: calc(var(--gutter) / 2);
  --FileAttachment-remove-icon-size: 18px;
  --FileAttachment-progress-bar-height: 7px;
  --FileAttachment-progress-bar-radius: 4px;
  --FileAttachment-progress-bar-fill-color: var(--color-text-2);
  --FileAttachment-icon-border-radius: calc(var(--FileAttachment-size) * 0.1);
  --DateTimePicker2-header-height: 24px;
  --AppHeaderSearch-width: 300px;
  --AppHeaderSearch-icon-size: 24px;
  --AppHeaderSearch-searchItem-height: 54px;
  --AppHeaderSearch-searchItem-margin: 7px;
  --max-items: 10;
  --height-by-items: calc(
    var(--AppHeaderSearch-searchItem-height) * var(--max-items)
  );
  --height-by-viewport: calc(100vh - var(--app-header-height));
  --TaskLabelsTooltipGrid-circle-size: 52px;
  --TaskLabelsTooltipLabelsItem-overlay-opacity: 0.2;
  --AppSidebarGoPremiumButton-max-width: calc(
    var(--app-sidebar-width) - var(--app-sidebar-padding) * 2
  );
  --AppSidebarProfile-max-width: var(--app-sidebar-width);
  --BareTimePicker-time-height: calc(var(--gutter) / 2 + var(--font-size-base));
  --BareTimePicker-items-size: 5;
  --SettingsMenuDoneTasks-item-height: calc(var(--gutter) * 2.75);
  --SettingsMenuDoneTasks-header-height: calc(
    var(--gutter) * 2 + var(--font-size-text-sm) + var(--gutter) / 2 +
      var(--font-size-heading-sm) + var(--gutter) * 2 +
      var(--toolbar-button-height) + var(--gutter)
  );
  --SettingsMenuProfileTab-profile-size: 66px;
  --SettingsMenuBackgroundTab-thumbnail-src: none;
  --SettingsMenuBackgroundTab-shadow-spread-width: 1px;
  --SettingsMenuBackgroundTab-shadow-spread-width-selected: 2px;
  --SettingsMenuBackgroundsThumbnails-thumbnail-size: calc(
    var(--card-menu-item-height) - var(--card-menu-body-gap) * 2
  );
  --AppLogin-container-width: 1012px;
  --AppLogin-loginForms-container-width: 440px;
  --AppLogin-visual-container-width: calc(
    var(--AppLogin-container-width) - var(--AppLogin-loginForms-container-width)
  );
  --AppLogin-padding: calc(var(--gutter) * 2);
  --RadioButton-marker-offset: calc(
    var(--radio-button-size) / 2 - var(--radio-button-marker-size) / 2
  );
  --Switch-height: 24px;
  --Switch-width: 50px;
  --Switch-border-width: 2px;
  --Switch-icon-size: 32px;
  --Switch-transition-duration: var(--animation-speed-medium);
  --Switch-cursor: pointer;
  --ChipItem-height: calc(var(--font-size-text-xsm) * 2);
  --PremiumPlanPickerButton-border-width: 3px;
  --collapse-speed: var(--animation-speed-fast);
  --PremiumTeamManagementPage-scrollable-padding-top: calc(
    var(--modal-border-radius) / 2
  );
  --TextField-padding-v: calc(var(--gutter) / 2);
  --premium-modal-width: 760px;
  --premium-modal-padding: calc(var(--gutter) * 2);

  --card-bg-current-color: var(--card-bg-1-color);
  --scrollbar-pane-bg-color: transparent;
  --badge-text-highlighted-color: var(--action-color);
  --app-login-text-secondary-text-color: var(--color-3);
  --app-login-tab-padding: 10px;
  --app-login-border-radius: 24px;
  --login-button-text-color: #fff;
  --login-button-email-bg-color: #fff;
  --login-button-email-border-color: #fdfdfd;
  --login-button-email-bg-highlighted-color: #f2f2f2;
  --billing-rubrik-title-size: var(--font-size-text-xxsm);
  --billing-rubrik-line-height: var(--line-height);
  --billing-rubrik-title-weight: var(--font-weight-bold);
  --billing-rubrik-details-color: var(--color-text-2);
  --billing-rubrik-ok: var(--confirm-color);
  --billing-rubrik-warning: var(--notification-color);
  --textfield-text-color: var(--color-text-1);
  --textfield-text-color-focus: var(--color-text-1);
  --card-item-bg-color: var(--card-bg-1-color);
  --card-item-text-color: var(--color-text-1);
  --card-above-bg-color: var(--card-bg-2-color);
  --card-above-color: var(--color-text-1);
  --card-above-active-color: var(--action-color);
  --card-above-disabled-color: var(--color-text-1-25p);
  --close-button-color: var(--color-text-2);
  --confirm-dialog-button-light-theme-color: var(--color-text-4);
  --toggle-button-height: 32px;
  --toggle-button-horizontal-padding: 12px;
  --toggle-button-line-height: 16px;
  --toggle-button-toggle-title-margin-left: 7px;
  --toggle-button-toggle-icon-width: 12px;
  --toggle-button-toggle-icon-height: 12px;
  --smart-type-textfield-bg-color: var(--card-bg-3-color);
  --team-member-bg-color: var(--card-bg-1-color);
  --team-member-border-radius: var(--border-radius);
  --team-member-padding: 16px 20px;
  --team-member-remove-padding: 20px 0;
  --team-member-remove-width: 300px;
  --team-member-shadow: var(--dropdown-menu-shadow);
  --team-member-gap: 4px;
  --team-member-manager-tooltip-width: 398px;
  --team-member-manager-tooltip-height: 520px;
  --team-member-manager-item-gap: 18px;
  --team-member-manager-confirmation-color: var(--color-4);
  --textfield-bg-color: var(--card-bg-1-color);
  --textfield-bg-minimal-color: transparent;
  --textfield-bg-minimal-focus-color: var(--bg-color);
  --textfield-placeholder-color: var(--color-text-3);
  --app-sidebar-text-color: var(--color-text-secondary);
  --app-sidebar-em-text-color: var(--color-text-1);
  --app-sidebar-highlighted-text-color: var(--action-color);
  --app-sidebar-icon-normal-color: var(--color-3);
  --app-sidebar-item-highlighted-color: var(--card-item-bg-highlighted-color);
  --app-sidebar-emoji-size: 20px;
  --app-settings-popup-padding: 12px;
  --app-settings-border-radius: 24px;
  --app-settings-modal-width: var(--modal-dialog-width);
  --task-item-border-color: var(--card-border-color);
  --task-item-border-selected-color: var(--action-color);
  --task-item-bg-color: var(--card-item-bg-color);
  --task-item-bg-highlighted-color: var(--card-above-bg-color-highlighted);
  --task-item-text-checked-color: var(--color-2);
  --task-controls-color: var(--color-2);
  --task-controls-focus-color: var(--action-color);
  --task-edit-pane-button-icon-color: var(--color-3);
  --task-edit-pane-gap-h: calc(var(--gutter) / 16 * 20);
  --task-edit-pane-button-font-size: var(--font-size-text-xsm);
  --task-edit-pane-button-font-weight: var(--font-weight-medium);
  --task-edit-pane-button-height: 32px;
  --task-edit-pane-button-border-radius: 4px;
  --task-assignee-modal-width: 400px;
  --task-assignee-modal-height: 308px;
  --task-assignee-modal-border-radius: 8px;
  --task-assignee-box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.18);
  --task-assignee-search-no-result-gap: 18px;
  --file-attachment-icon-color: var(--task-indicator-color);
  --file-attachment-progress-bar-color: var(--color-text-3);
  --file-attachment-trash-icon-size: 24px;
  --file-attachment-spacing: calc(var(--gutter) / 2);
  --toolbar-button-color: var(--color-text-1);
  --toolbar-button-hover-and-focus-color: var(--action-color);
  --toolbar-button-bg-color: var(--card-bg-1-color);
  --toolbar-shaddow: var(--pane-box-shadow);
  --toolbar-tooltip-padding: 7px;
  --toolbar-tooltip-border-radius: 3px;
  --toolbar-tooltip-top-offset: 3px;
  --toolbar-team-members-invite-icon-gap: 4px;
  --toolbar-team-members-invite-members-margin-left: 7px;
  --onboarding-pro-box-color: var(--color-1);
  --onboarding-pro-box-radius: 24px;
  --onboarding-smart-text-line-height: 50px;
  --onboarding-smart-text-dropdown-width: 200px;
  --onboarding-integration-raidus: 12px;
  --onboarding-integration-card-height: 148px;
  --onboarding-integration-card-width: 134px;
  --sharing-avatar-light-text-color: var(--label-text-light-color);
  --sharing-avatar-dark-text-color: rgba(0, 0, 0, 0.6);
  --default-font-family: "Inter", "Helvetica Neue", Helvetica, Arial, "Roboto",
    sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-xbold: 700;
  --heading-line-height: 1.1;
  --line-height: 1.4;
  --line-height-text-xsm: 16px;
  --line-height-textfield: 1.15;
  --font-size-heading-xlg: 44px;
  --font-size-heading-lg: 28px;
  --font-size-heading-md: 24px;
  --font-size-heading-sm: 20px;
  --font-size-text-xlg: 18px;
  --font-size-text-llg: 17px;
  --font-size-text-lg: 16px;
  --font-size-text-md: 15px;
  --font-size-text-sm: 14px;
  --font-size-text-xsm: 12px;
  --font-size-text-xxsma: 11px;
  --font-size-text-xxsm: 10px;
  --font-size-text-xxxsm: 8px;
  --font-size-base: var(--font-size-text-md);
  --label-font-size: var(--font-size-text-xs);
  --label-font-weight: var(--font-weight-medium);
  --label-letter-spacing: 1px;
  --subheading-font-size: var(--font-size-text-xsm);
  --subheading-font-weight: var(--font-weight-xbold);
  --subheading-letter-spacing: 0.5px;
  --sidebar-item-letter-spacing: -0.3px;
  --card-header-title-font-size: var(--font-size-text-lg);
  --border-radius-small: 2px;
  --border-radius-medium: 6px;
  --border-radius: 8px;
  --card-border-radius: 16px;
  --card-listed-border-radius: 6px;
  --tooltip-border-radius: 4px;
  --modal-border-radius: 12px;
  --kbd-border-radius: 3px;
  --modal-dialog-width: 400px;
  --modal-dialog-large-width: 600px;
  --modal-dialog-max-height: 600px;
  --bar-height: 60px;
  --radio-button-size: 24px;
  --radio-button-marker-size: 16px;
  --radio-button-modern-theme-size: 20px;
  --radio-button-modern-theme-marker-size: 8px;
  --login-button-height: 60px;
  --login-form-height: 44px;
  --login-form-bottom-margin: var(--gutter);
  --login-terms-field-width: 300px;
  --box-shadow-focus-ring-md-size: 6px;
  --box-shadow-focus-ring-md: 0 0 0 var(--box-shadow-focus-ring-md-size)
    var(--pane-shadow-color);
  --box-shadow-focus-ring-small: 0 0 0 3px var(--pane-shadow-color);
  --box-shadow-focus-ring-inside: inset 0 0 0 3px var(--pane-shadow-color);
  --drag-rotation: 5deg;
  --gutter: 16px;
  --pane-h-gutter: 24px;
  --app-header-z-index: 2;
  --under-app-sidebar-z-index: 3;
  --app-sidebar-z-index: 4;
  --myday-sidebar-z-index: 4;
  --myday-sidebar-handle-z-index: 5;
  --app-onboarding-z-index: 6;
  --drawer-z-index: 7;
  --tooltip-z-index: 1000;
  --app-active-header-z-index: 1001;
  --app-active-header-filter-z-index: 1002;
  --settings-z-index: 1002;
  --settings-sync-tooptip-z-index: 1003;
  --small-info-tooltip-z-index: 1004;
  --notifications-z-index: 2000;
  --drag-layer-item-z-index: 9999;
  --smart-type-animted-item-z-index: 9999;
  --sticky-backdrop-z-index: calc(var(--myday-sidebar-handle-z-index) + 1);
  --sticky-container-z-index: calc(var(--sticky-backdrop-z-index) + 1);
  --sticky-backdrop-z-index-maximized: 4;
  --sticky-container-z-index-maximized: 4;
  --app-sidebar-width: 240px;
  --app-sidebar-close-width: 88px;
  --app-sidebar-padding: 24px;
  --app-sidebar-open-offset: calc(
    var(--app-sidebar-width) - var(--app-sidebar-close-width) -
      var(--my-day-shadow-gap)
  );
  --app-sidebar-create-task-button-height: 40px;
  --app-sidebar-in-out-transition-speed: var(--animation-speed-fast);
  --app-sidebar-item-h-padding: var(--app-sidebar-padding);
  --app-sidebar-item-height: 40px;
  --app-sidebar-item-top-text-offset: 8px;
  --app-sidebar-item-avatar-size: 40px;
  --app-sidebar-item-icon-size: 24px;
  --app-sidebar-lock-icon-size: 20px;
  --app-sidebar-category-icon-margin: 11px;
  --badge-size: 22px;
  --app-sidebar-profile-gap: 12px;
  --app-sidebar-profile-margin: 16px;
  --myday-sidebar-width: 378px;
  --myday-sidebar-transition-speed: var(--app-sidebar-in-out-transition-speed);
  --myday-sidebar-transition-in: var(--myday-sidebar-transition-speed) ease-out
    var(--myday-sidebar-transition-speed);
  --myday-sidebar-transition-out: var(--myday-sidebar-transition-speed) ease-in;
  --myday-sidebar-top-gap: 24px;
  --myday-sidebar-bottom-gap: 16px;
  --myday-sidebar-padding: 6px;
  --myday-sidebar-shadow-height: 12px;
  --myday-entry-labels-height: 8px;
  --myday-entry-labels-h-gap: 10px;
  --myday-entry-content-gap: 10px;
  --myday-breadcrumbs-height: 15px;
  --my-day-shadow-gap: 10px;
  --myday-empty-state-color1: #69adff;
  --myday-empty-state-color2: var(--brand-color);
  --myday-empty-state-color: linear-gradient(
    180deg,
    var(--myday-empty-state-color1) -30%,
    var(--myday-empty-state-color2) 70%
  );
  --myday-empty-state-color-hover: linear-gradient(
    180deg,
    var(--myday-empty-state-color1) -20%,
    var(--myday-empty-state-color2) 70%
  );
  --app-header-height: calc(
    var(--app-sidebar-padding) * 2 + var(--app-sidebar-item-avatar-size)
  );
  --app-header-control-h-gap: 30px;
  --app-header-control-width: calc(
    70px + var(--toolbar-button-bar-h-padding) * 3
  );
  --app-header-icon-size: 36px;
  --toolbar-height: var(--app-sidebar-create-task-button-height);
  --toolbar-button-bar-h-padding: calc(var(--toolbar-height) / 2);
  --toolbar-button-h-padding: calc(var(--gutter) / 4 * 3);
  --toolbar-button-height: var(--toolbar-height);
  --toolbar-icon-size: 24px;
  --toolbar-avatar-icon-size: 20px;
  --notification-bar-height: 36px;
  --notification-bar-error-color: #ff6168;
  --notification-bar-expanded-width: 360px;
  --card-menu-header-height: 54px;
  --card-menu-footer-height: 54px;
  --card-menu-padding-h: var(--gutter);
  --card-menu-item-height: 44px;
  --card-menu-body-gap: 10px;
  --card-menu-position-right: 11px;
  --card-menu-position-top: 10px;
  --default-card-inner-padding-h: calc(var(--gutter) * 1.5);
  --default-card-inner-padding-v: calc(var(--gutter) / 2);
  --template-thumbnail-width: 500px;
  --template-thumbnail-hover-bg-color: var(--card-bg-1-color-90p);
  --dropdown-menu-bg-highlighted-color: var(--color-2);
  --dropdown-menu-body-gap: 10px 0 8px;
  --dropdown-menu-shadow: 4px 10px 30px var(--box-shadow-1-color);
  --dropdown-menu-item-height: 16px;
  --dropdown-menu-item-padding-v: 12px;
  --dropdown-menu-item-padding-h: 16px;
  --dropdown-menu-modern-item-padding-right: 23px;
  --dropdown-menu-modern-item-padding-left: 51px;
  --dropdown-menu-modern-selected-icon-left: 20px;
  --dropdown-menu-condensed-item-padding-left: 46px;
  --scrollbar-width: 5px;
  --scrollbar-border-radius: 10rem;
  --pane-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04),
    0 2px 18px rgba(0, 0, 0, 0.08);
  --myday-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02),
    0 2px 18px rgba(0, 0, 0, 0.05);
  --pane-box-shadow-strong: 0 2px 10px 0 var(--box-shadow-strong-1-color);
  --pane-box-shadow-large: 0 2px 15px 0 var(--box-shadow-1-color);
  --pane-box-shadow-large-strong: 4px 10px 30px 0
    var(--box-shadow-strong-1-color);
  --pane-box-shadow-2: 0 2px 10px 0 var(--box-shadow-2-color);
  --pane-box-shadow-inversed: 0 -2px 10px 0 var(--box-shadow-1-color);
  --pane-blip-box-shadow: var(--pane-box-shadow-large),
    0 0 0 6px var(--action-color-50p);
  --pane-min-width: 335px;
  --pane-max-width: 570px;
  --pane-myday-max-width: 600px;
  --section-pane-width: 280px;
  --section-pane-gutter: 24px;
  --section-padding-top: 20px;
  --section-padding-side: 16px;
  --section-padding-bottom: 12px;
  --section-padding: var(--section-padding-top) var(--section-padding-side)
    var(--section-padding-bottom);
  --section-min-height: 112px;
  --section-has-cards-min-height: 169px;
  --section-title-input-height: 20px;
  --section-top-shadow: 0 5px 20px;
  --section-bottom-shadow: 0 -5px 20px;
  --section-shadow: var(--pane-box-shadow);
  --add-section-height: 62px;
  --add-section-title-color: var(--color-text-4);
  --card-padding: 13px;
  --card-list-gap: 8px;
  --card-title-line-height: 18px;
  --card-title-font-size: 14px;
  --card-title-letter-spacing: -0.3px;
  --card-tag-margin-y: 3px;
  --card-tag-icon-color: var(--brand-color);
  --card-tag-color-default: var(--color-3);
  --add-card-label-color: var(--color-3);
  --add-card-title-color: var(--color-text-4);
  --add-card-border-radius: 6px;
  --add-card-close-input-height: 40px;
  --add-card-open-input-height: 64px;
  --add-card-padding: 12px;
  --add-card-icon-gap: 14px;
  --add-card-line-height: 16px;
  --add-card-button-size: 36px;
  --card-duedate-calendar-width: 328px;
  --card-duedate-calendar-shadow: 0 6px 20px var(--box-shadow-1-color);
  --card-duedate-calendar-padding-bottom: 21px;
  --card-duedate-calendar-padding: 5px 16px 0;
  --card-duedate-calendar-padding-x: 16px;
  --card-duedate-calendar-footer: 49px;
  --card-duedate-modal-border-radius: 8px;
  --card-duedate-modal-box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.18);
  --card-duedate-time-picker-width: 190px;
  --card-duedate-time-picker-max-height: 240px;
  --card-button-size: 36px;
  --card-checklist-item-gap: 4px;
  --card-checklist-hover-bg-color: var(--card-hover-bg-color);
  --card-checklist-hover-border-color: var(--card-hover-border-color);
  --card-checklist-placholder-bg-color: var(--card-placholder-bg-color);
  --activity-update-column-gap: 8px;
  --activity-update-comment-padding: 10px;
  --teams-tags-tooltip-content-width: 330px;
  --teams-tags-tooltip-content-border-radius: var(--border-radius-medium);
  --teams-tags-tooltip-content-header-height: 46px;
  --teams-tags-tooltip-content-footer-height: 50px;
  --teams-tags-tooltip-content-tag-row-height: 50px;
  --browse-templates--modal-width: 1100px;
  --browse-templates--modal-max-height: 720px;
  --browse-templates--modal-min-height: 500px;
  --browse-templates--large-gap: 40px;
  --browse-templates--small-gap: 10px;
  --browse-templates--template-list-height: 525px;
  --browse-templates--toggle-button-margin-top: 25px;
  --browse-templates--top-right-gap: 20px;
  --browse-templates--header-gap: 25px;
  --choose-plan--modal-width: 734px;
  --browse-boards--modal-width: 778px;
  --browse-boards--modal-max-height: 725px;
  --browse-boards--modal-min-height: 500px;
  --browse-boards-shadow-height: 12px;
  --dynamic-search-component-height: 24px;
  --dynamic-search-field-initial-width: 24px;
  --dynamic-search-field-active-width: 185px;
  --task-h-padding: calc(var(--gutter) / 16 * 20);
  --task-v-padding: calc(var(--gutter) / 4);
  --task-item-height: 50px;
  --task-item-label-padding-right: var(--task-controls-colorwidth);
  --task-item-text-label-width: calc(
    100% - var(--task-item-label-padding-right)
  );
  --task-item-checkbox-button-size: 18px;
  --task-modal-svg-gap: 12px;
  --task-tag-icon-color: var(--brand-color);
  --task-remind-icon-color: var(--notification-color);
  --task-list-icon-color: var(--brand-color-2);
  --sharing-google-contacts-banner-height: 56px;
  --side-spinner-offset: -21px;
  --side-spinner-size: 13px;
  --notifications-mini-toast-height: 56px;
  --app-theme-background-image-hd: none;
  --app-theme-background-image-4k: none;
  --backdrop-animation-speed: var(--animation-speed-medium);
  --backdrop-position-top: 60px;
  --backdrop-modal-position-top-max-height: calc(
    100vh - var(--backdrop-position-top) * 2 - 2px
  );
  --backdrop-modal-blurred-blur: 12px;
  --backdrop-modal-blurred-color: rgba(0, 0, 0, 0.3);
  --reminders-modal-width: 400px;
  --date-picker-modal-width: 480px;
  --create-board-modal-margin-top: 28px;
  --create-board-modal-width: 600px;
  --create-board-modal-min-height: 273px;
  --create-board-modal-padding: 24px;
  --create-board-modal-input-margin: 10px;
  --create-board-modal-input-size: 28px;
  --create-board-modal-input-height: 34px;
  --create-board-modal-header-height: 20px;
  --create-board-modal-submit-width: 92px;
  --create-board-modal-shadow: 0 6px 36px;
  --suggestions-filter-modal-width: 259px;
  --suggestions-filter-tag-height: 24px;
  --onboarding-card-icon-height: 102px;
  --onboarding-card-height: 255px;
  --onboarding-card-width: 289px;
  --onboarding-my-day-section-width: 344px;
  --onboarding-my-day-section-height: 334px;
  --onboarding-text-field-height: 40px;
  --onboarding-border-radius: 24px;
  --onboarding-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04),
    0 2px 18px rgba(0, 0, 0, 0.08);
  --onboarding-letter-spacing: -0.3px;
  --onboarding-empty-state-width: 220px;
  --onboarding-task-item-width: 200px;
  --workspace-management-modal-width: 570px;
  --workspace-management-modals-content-margin-top: 28px;
  --workspace-management-modals-content-width: 600px;
  --workspace-management-modals-content-min-height: 273px;
  --workspace-management-modals-content-padding: 24px;
  --workspace-management-modals-content-padding-top: 38px;
  --workspace-management-modals-content-input-margin: 10px;
  --workspace-management-modals-content-input-size: 28px;
  --workspace-management-modals-content-input-height: 34px;
  --workspace-management-modals-content-header-height: 20px;
  --workspace-management-modals-content-submit-width: 92px;
  --workspace-management-modals-content-shadow: 0 6px 36px;
  --workspace-cancel-subscription-modal-width: 525px;
  --workspace-cancel-subscription-modal-padding-y: 24px;
  --workspace-cancel-subscription-modal-padding-x: 40px;
  --upgrade-plan-modal-width: 593px;
  --upgrade-plan-modal-content-padding: 48px;
  --upgrade-plan-modal-close-button-position: 24px;
  --plan-picker-border-radius: 12px;
  --plan-picker-padding: 12px;
  --plan-picker-save-color: var(--confirm-color);
  --drawer-width: 360px;
  --drawer-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  --drawer-padding: 16px;
  --card-drawer-width: 332px;
  --new-messages-icon-wrapper-size: 28px;
  --custom-date-tooltip-width: 340px;
  --smart-type-quick-add-base-size: 40px;
  --smart-type-quick-add-option-height: 50px;
  --smart-type-quick-animation-speed: var(--animation-speed-medium);
  --smart-type-quick-replace-animation-speed: 300ms;
  --smart-type-reminder-modal-width: 480px;
  --task-batching-toolbar-height: 56px;
  --task-batching-toolbar-width: 515px;
  --label-modal-label-item-height: 56px;
  --animation-delay-speed: 100ms;
  --animation-delay-speed-fast: 50ms;
  --animation-delay-speed-medium: 400ms;
  --animation-delay-slow: 600ms;
  --animation-speed-very-fast: 100ms;
  --animation-speed-fast: 200ms;
  --animation-speed-medium: 400ms;
  --animation-speed-slow: 600ms;
  --animation-speed-very-slow: 1000ms;
  --animation-speed-focus-ring: 400ms;
  --animation-focus-transition: 400ms;
  --animation-pane-enter-speed: 300ms;
  --animation-delay-check-swipe: 300ms;

  --color-1: #ededed;
  --color-2: #d8d8d8;
  --color-3: #b2b2b2;
  --color-4: var(--color-1);
  --color-5: #ffc0ea;
  --color-6: #b9d2fe;
  --color-7: #aba3fe;
  --color-8: #ffdd7d;
  --color-9: #fd8c73;
  --color-10: #ff3b53;
  --color-lightest: var(--color-1);
  --color-text-1: #030303;
  --color-text-2: #9b9b9b;
  --color-text-3: #d8d8d8;
  --color-text-4: #424242;
  --color-text-1-25p: rgba(74, 74, 74, 0.25);
  --color-text-1-50p: rgba(74, 74, 74, 0.5);
  --color-text-secondary: var(--color-text-1);
  --text-secondary-1-color: var(--color-text-2);
  --bg-color: #f6f6f6;
  --card-bg-1-color: #fff;
  --card-bg-2-color: #fff;
  --card-bg-3-color: #fff;
  --card-bg-4-color: #fff;
  --card-bg-1-color-90p: hsla(0, 0%, 100%, 0.9);
  --card-bg-1-color-75p: hsla(0, 0%, 100%, 0.75);
  --card-bg-1-color-60p: hsla(0, 0%, 100%, 0.6);
  --card-bg-2-color-60p: hsla(0, 0%, 100%, 0.6);
  --item-hover-bg-color: #f7f7f7;
  --card-hover-bg-color: #f7f7f7;
  --card-button-bg-color: transparent;
  --drawer-bg-color: #fff;
  --app-login-text-color: #000;
  --separator-color: var(--color-2);
  --sharing-remainder-bg-color: var(--color-1);
  --sharing-remainder-text-color: var(--color-text-2);
  --scrollbar-thumb-bg-color: var(--color-text-3);
  --task-activity-other-bubble-bg-color: var(--color-1);
  --badge-text-color: var(--color-text-2);
  --badge-bg-color: var(--color-1);
  --badge-text-hover-color: var(--color-text-2);
  --badge-bg-hover-color: var(--action-button-text-color);
  --smart-type-textfield-border-color: var(--color-2);
  --textfield-border-color: var(--separator-color);
  --textfield-settings-menu-bg-color: var(--color-1);
  --myday-calendar-bg-color: var(--color-1);
  --card-above-bg-color-highlighted: var(--color-1);
  --card-above-separator-color: var(--color-2);
  --card-item-bg-highlighted-color: var(--color-1);
  --card-border-color: var(--separator-color);
  --card-placholder-bg-color: var(--color-1);
  --card-hover-border-color: var(--color-1);
  --card-border-color: var(--color-1);
  --dropdown-menu-item-bg-highlighted-color: var(--color-1);
  --task-edit-pane-button-bg-color: var(--color-1);
  --task-indicator-color: var(--color-text-2);
  --settings-menu-bg-item-thumbnail-border-color: var(--color-2);
  --settings-menu-bg-item-premium-button-text-color: var(--card-bg-1-color);
  --payment-element-loading-bg-color: var(--bg-color);
  --box-shadow-1-color: rgba(0, 0, 0, 0.1);
  --box-shadow-transparent-1-color: transparent;
  --box-shadow-weak-1-color: rgba(0, 0, 0, 0.05);
  --box-shadow-strong-1-color: rgba(0, 0, 0, 0.3);
  --box-shadow-2-color: var(--box-shadow-1-color);
  --box-shadow-transparent-2-color: var(--box-shadow-transparent-1-color);
  --box-shadow-weak-2-color: var(--box-shadow-weak-1-color);
  --box-shadow-strong-2-color: var(--box-shadow-strong-1-color);
  --disabled-opacity: 0.65;
  --disabled-strong-opacity: 0.3;
  --disabled-barely-visible-opacity: 0.1;
  --activity-update-comment-color: var(--bg-color);
  --activity-update-notification-bg-color: var(--card-bg-1-color);
  --activity-update-notification-bg-interacted-color: var(
    --card-bg-1-color-60p
  );

  --brand-color: #0083ff;
  --brand-color-2: #f5a623;
  --action-color: var(--brand-color);
  --action-hover-color: #0074e0;
  --action-color-50p: rgba(0, 128, 255, 0.5);
  --notification-color: #ff6168;
  --notification-hover-color: #ff3d47;
  --error-color: #ff001f;
  --error-hover-color: #cc0018;
  --confirm-color: #23ce88;
  --confirm-hover-color: #1eae72;
  --premium-marketing-1-color: #ffb926;
  --onboarding-complete-task-goal-tab-purple-color: #6573d3;
  --action-button-text-color: #fff;
  --backdrop-color: rgba(0, 0, 0, 0.5);
  --pane-shadow-color: hsla(0, 0%, 53.7%, 0.25);
  --focus-backdrop-color: hsla(0, 0%, 100%, 0.35);
  --label-text-light-color: #fff;
  --label-text-dark-color: #000;
  --google-login-bg-color: var(--action-color);
  --google-login-bg-hover-color: var(--action-hover-color);
  --app-loader-bg-color: #0da5f3;
  --app-loader-shodow-color: #9197a3;
  --app-loader-checkmark-color: #fff;
  --tooltip-theme-dark-bg-color: #161616;
  --tooltip-theme-dark-text-color: #8e8e92;

  --ButtonRounded-height: 34px;
  --ButtonRounded-height-reminders: 30px;
  --ButtonRounded-height-navbar: 40px;
  --ButtonRounded-height-warning: 40px;
  --ButtonRounded-borderRadius: calc(var(--ButtonRounded-height) / 2);
  --DynamicTextArea-padding-v: calc(var(--gutter) / 2);
  --DynamicTextArea-padding-h: var(--gutter);
  --DynamicTextArea-padding-v-themeMinimal: calc(var(--gutter) / 4);
  --DynamicTextArea-padding-h-themeMinimal: calc(var(--gutter) / 2);
  --DynamicTextArea-padding-v-themeListTitle: 0;
  --DynamicTextArea-padding-h-themeListTitle: calc(var(--gutter) / 4);
  --DynamicTextArea-padding-v-themeLabelsModalLabelName: calc(
    var(--gutter) / 4
  );
  --DynamicTextArea-padding-h-themeLabelsModalLabelName: var(
    --card-menu-padding-h
  );
  --DynamicTextArea-hover-transition-duration: var(--animation-speed-fast);
  --TextField-padding-h: var(--gutter);
  --TextField-padding-h-headerSearchTheme: calc(var(--gutter) / 2);

  --app-sidebar-open-offset: calc(
    var(--app-sidebar-width) - var(--app-sidebar-close-width) -
      var(--my-day-shadow-gap)
  );
}

.app__sidebar {
  top: 0;
  left: 0;
  height: 100vh;
  padding-top: var(--app-sidebar-padding);
  display: flex;
  flex-direction: column;
  position: fixed;
  color: var(--app-sidebar-text-color);
  font-size: var(--font-size-base);
  z-index: var(--app-sidebar-z-index);
  background-color: var(--card-bg-1-color);
}

.app__profile__img {
  cursor: pointer;
  width: var(--app-sidebar-item-avatar-size);
  height: var(--app-sidebar-item-avatar-size);
  padding: 0;
  margin: 0;
  position: absolute;
  top: var(--app-sidebar-padding);
  left: var(--app-sidebar-padding);
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  border-radius: 50%;
  color: var(--app-sidebar-em-text-color);
  box-shadow: 0 0 0 1.5px var(--card-bg-1-color);
  transition: color var(--animation-speed-fast),
    box-shadow var(--animation-speed-fast);
}

.profile__img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  object-fit: cover;
  cursor: pointer;
  border-style: none;
}

.app__sidebar-container {
  height: 100vh;
  position: relative;
  flex-direction: column;
  display: flex;
  transition: opacity var(--app-sidebar-in-out-transition-speed);
}

.sidebar__userprofile-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.app__sidebar__profile {
  width: var(--AppSidebarProfile-max-width);
  padding: 0;
  padding-left: calc(
    var(--app-sidebar-padding) + var(--app-sidebar-profile-gap) +
      var(--app-sidebar-item-avatar-size)
  );
  margin-bottom: var(--app-sidebar-profile-margin);
  color: var(--app-sidebar-em-text-color);
  font-size: inherit;
  user-select: none;
}

.profile__name {
  margin: 0 0 2px;
  display: block;
  position: relative;
  justify-self: flex-start;
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  line-height: inherit;
  text-align: inherit;
  transition: opacity var(--app-sidebar-in-out-transition-speed);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 42px 0 0;
}

.account__subscription {
  color: var(--color-text-2);
  font-size: var(--font-size-text-sm);
  line-height: 1.14;
  letter-spacing: -0.3px;
  transition: opacity var(--app-sidebar-in-out-transition-speed);
  padding-right: var(--app-sidebar-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app__sidebar__nav {
  width: var(--app-sidebar-width);
  height: auto;
  overflow: hidden;
  position: relative;
  font-size: inherit;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.sidebar__nav-container {
  padding: 1px;
  width: 100%;
  flex: 1 1;
  position: relative;
  overflow: hidden;
}

.sidebar__nav-container-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  transition: background-color var(--animation-speed-medium);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar__nav-items {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  flex: 1 1;
}

.sidebar__ul {
  height: 40px;
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  overflow: hidden;
  transition: height var(--animation-speed-medium);
  user-select: none;
}

.sidebar__group-items {
  width: 100%;
  height: var(--app-sidebar-item-height);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: background-color var(--animation-speed-very-fast) linear;
  animation-duration: 0ms !important;
}

.sidebar__group-items-link {
  min-width: 0;
  padding-right: var(--app-sidebar-padding);
  height: 100%;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  align-items: center;
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.category__icon {
  margin-right: var(--app-sidebar-category-icon-margin);
  margin-left: var(--app-sidebar-padding);
  color: var(--app-sidebar-text-color);
  width: var(--app-sidebar-emoji-size);
}

.icon__container {
  width: 24px;
  animation-duration: 0ms !important;
}

.category__title {
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin: 0;
  line-height: var(--app-sidebar-item-icon-size);
  letter-spacing: var(--sidebar-item-letter-spacing);
}

.category__title-primary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation-duration: 0ms !important;
}

.category__badge,
.list__badge {
  min-width: var(--app-sidebar-item-icon-size);
  height: var(--app-sidebar-item-icon-size);
  margin: 0 0 0 6px;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  animation-duration: 0ms !important;
}

.category__badge-container,
.list__badge-container {
  min-width: var(--badge-size);
  height: var(--badge-size);
  color: var(--badge-text-color);
  background-color: var(--badge-bg-color);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  padding: 0 2px;
  transition: color var(--animation-speed-very-fast) linear,
    background-color var(--animation-speed-very-fast) linear;
  animation-duration: 0ms !important;
}

.badge {
  color: inherit;
  font-size: calc(var(--badge-size) / 2);
  font-weight: 600;
  line-height: var(--badge-size);
  animation-duration: 0ms !important;
}

.sidebar__heading-item {
  height: var(--app-sidebar-item-height);
  padding: 0 calc(var(--app-sidebar-item-h-padding) / 2) 0
    var(--app-sidebar-item-h-padding);
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--app-sidebar-em-text-color);
  font-size: var(--font-size-heading-sm);
  font-weight: bolder;
  transition: background-color var(--animation-speed-fast);
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.sidebar__heading-item-container {
  margin-right: calc(var(--gutter) / 4);
  max-width: calc(100% - var(--app-sidebar-item-h-padding));
  flex: 1 1;
  overflow: hidden;
}

.sidebar__heading-title {
  max-width: 100%;
  height: var(--app-sidebar-item-height);
  font-size: var(--font-size-text-llg);
  position: relative;
  display: flex;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

.sidebar__heading-title-text {
  min-width: 0;
  line-height: var(--app-sidebar-item-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__heading-utils {
  display: flex;
  align-items: center;
  height: 100%;
}

.sidebar__heading-add-btn {
  height: var(--app-sidebar-item-height);
  position: relative;
  display: flex;
  align-items: center;
}

.add-btn {
  margin-right: -2px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--badge-text-color);
  transition: box-shadow var(--animation-speed-medium),
    background-color var(--animation-speed-medium),
    color var(--animation-speed-medium);
  cursor: pointer;
}

.sidebar__ul-list {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  overflow: hidden;
  transition: height var(--animation-speed-medium);
  user-select: none;
  animation-duration: 0ms !important;
}

.sidebar__list-items {
  width: 100%;
  height: var(100px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;

  transition: background-color var(--animation-speed-very-fast) linear;
}

.sidebar__list-items-link {
  min-width: 0;
  padding-right: var(--app-sidebar-padding);
  height: 100%;
  display: flex;
  flex: 1 1;
  align-items: center;
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  white-space: nowrap;
  animation-duration: 0ms !important;
  background-color: transparent;
}

.list__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin: 0;
  margin-left: var(--app-sidebar-padding);
  line-height: var(--app-sidebar-item-icon-size);
  letter-spacing: var(--sidebar-item-letter-spacing);
  animation-duration: 0ms !important;
}

#category__title-personal {
  color: var(--app-sidebar-highlighted-text-color);
}

#list__badge-personal {
  color: var(--action-button-text-color);
  background-color: var(--action-color);
}

#badge-personal {
  color: inherit;
}
